<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    	
        <title>reLIVE - The Concert Experience</title>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="reLIVE - The Concert Experience">
        <meta name="author" content="bushmb">
        
        <!-- MOBILE DEVICE SETTING -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
     

        <!-- CSS FILES -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">        
        <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="css/helper.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/grid-data-columns.css">
        <link rel="stylesheet" href="css/jquery.countdown.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">        
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/revolution.css">
        <link rel="stylesheet" href="css/price-tables.css">
        <link rel="stylesheet" href="css/revolution-extralayers.css">
        <link rel="stylesheet" href="css/audio-player.css">        
        
        
        <!-- GOOGLE FONTS  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        
             
        <!-- FAVICON -->
        <!--  TESTING -->

        <link rel="shortcut icon" href="img/favicon.ico">



	</head>

	<body>