<% include partials/head.html %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>reLive</h1>
        <p class="lead">The Concert Experience</p>

        <a href="/login" class="btn btn-primary"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/spotify" class="btn btn-success"><span class="fa fa-spotify"></span> Spotify</a>
        
        <% include partials/footer.html %>
    </body>
</html>
