
<% include partials/header.html %>


  <section id="Login">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center login-text">
          <h2 class="uppercase login-page">NOTICE</h2>
          <p class="lead white">
          <span class="bold orange">reLive - The Concert Experience</span> 
            uses Spotify Oauth2.0 to allow you to view and 
            save the setlists played by your favorite musical artists.  For the
            best experience, please Sign Up or Login using YOUR Spotify 
            credentials on the following page.</p>  
          <p class="lead white"> If you do not have a Spotify account, please use the 
            following credentials which will allow you to fully use the features of
            <span class="orange">reLive</span> without signing up for Spotify.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 text-left">
          <p>Username:    <span class="bold">   relivetester@gmail.com</span><p>
          <p>Password:    <span class="bold">   Relivespotify</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 text-center">
          <p><a href="/auth/spotify"><button class="spotify-btn"><i class="fa fa-spotify"></i> Login with Spotify </button></a></p>
        </div>     
      </div>
    </div>
  </section>


<% include partials/footer.html %>

