<% include partials/header.html %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>
       <span><strong>user id</strong>: <%= user._id ? user._id : '' %></span><br>
       <span class="fa fa-sign-out"><a href="/logout"> Sign out</a></span>
       <hr>
       <div class="jumbotron">
         <% if (user.local.email != null) { %>
           <img src="https://avatars.io/gravatar/<%= user.local.email %>/140" class="img-circle"><br>
           <strong>email</strong>: <%= user.local.email %><br>
         <% } %>
         
         <% if (user.spotify.id != null) { %>
          <i class="fa fa-spotify fa-5x"></i><br>
           <h2> Spotify</h2><br>
           <img src="<%= user.spotify.photo %>" class="img-circle"><br>
           <!-- <%= user.spotify.photo %> -->
          <strong>SPOTIFY id</strong>: <%= user.spotify.id %><br>
          <strong>LOCAL ID</strong>: <%= user.id %>
          <!-- <strong>token</strong>: <%= user.spotify.token %><br> -->
          <strong>email</strong>: <%= user.spotify.email %><br>
          <strong>name</strong>: <%= user.spotify.name %>
         <% } %>
      

         <div>
         <input id="search" type="search" placeholder="Band Name" />
         </div>
         <div id="photo-results"></div>
         <div id="results"></div>
         


        </div>
      </div>
    </div>

    <!-- <% include partials/footer.html %>
  </body>
</html> -->
<% include partials/footer.html %>
<% include partials/scripts_html_end.html %>



<ul id="list-speaker" class="list-unstyled"> 
    
    <!-- BAND 1 --> 
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/1.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
            </figure>
            
            <div class="caption text-center">
          <h4>Death in June</h4>
                <p class="company">05-22-2016</p>
            </div>   
        </div>
  </li>
    
    <!-- BAND2 2 -->  
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/2.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
            </figure>
            
            <div class="caption text-center">
          <h4>Colyseum</h4>
                <p class="company">05-23-2016</p>
            </div>   
        </div>
    </li>
    
    <!-- BAND 3 --> 
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/3.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
             </figure>
            
            <div class="caption text-center">
          <h4>Melting PoP</h4>
                <p class="company">05-24-2016</p>
            </div>   
        </div>
  </li>
    
    <!-- BAND 4 --> 
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/4.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
        </figure>
            
            <div class="caption text-center">
          <h4>Death Row</h4>
                <p class="company">05-22-2016</p>
            </div>   
        </div>
  </li>
    
    <!-- BAND 5 -->
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/5.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
            </figure>
            
            <div class="caption text-center">
          <h4>Public Area</h4>
                <p class="company">05-23-2016</p>
            </div>   
        </div>
  </li>
    
    <!-- BAND 6 -->
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/6.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
            </figure>
            
            <div class="caption text-center">
          <h4>Cheaters</h4>
                <p class="company">05-24-2016</p>
            </div>   
        </div>
  </li>
    
    <!-- BAND 7 -->
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/7.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
            </figure>
            
            <div class="caption text-center">
          <h4>Good Fellas</h4>
                <p class="company">05-22-2016</p>
            </div>   
        </div>
  </li>
    
    <!-- BAND 8 -->
    <li class="col-lg-3 col-md-3 col-sm-4">
        <div class="speaker">
            <figure class="effect-ming">
                <img class="img-responsive" src="img/bands/8.jpg" alt=""/>
                <figcaption>
                    <span><a href="../band-site/index.html"><img class="img-responsive" src="img/plus.png" alt=""></a></span>
                </figcaption>     
            </figure>
            
            <div class="caption text-center">
          <h4>Kinki People</h4>
                <p class="company">05-22-2016</p>
            </div>   
        </div>
    </li>
